{% extends '@OctopouceCms/Admin/layout.html.twig' %}

{% block title %}Pages - {{ parent() }}{% endblock %}

{% block main %}
    <div class="padding-filter">
        <div class="row title">
            <div class="col s12">
                <h1>Pages</h1>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for page in pages %}
                            <tr>
                                <td>{{ page.id }}</td>
                                <td>{{ page.title }}</td>
                                <td>
                                    <a href="{{ path('octopouce_cms_admin_field_edit', {'page':page.id}) }}" class="waves-effect waves-light btn orange"><i class="fas fa-pencil-alt"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

